.album-info {
  margin-bottom: 15px;

  .title {
    font-size: 45px;
    font-weight: bold;
    line-height: 40px;

    word-wrap: break-word;

    margin-top: 17px;
    margin-bottom: 5px;
  }

  .summary {
    font-size: 15px;

    color: #777777;
  }

  .artist {
    color: #222;
    word-wrap: break-word;
  }
}

.empty-notice {
  width: 100%;
  text-align: center;
  
  img {
    height: 300px;
    margin-bottom: 30px;
  }
}