.album {
  img {
    transition: opacity;
    transition-duration: 0.2s;
  }
  
  &:hover {
    img {
      opacity: 0.8;
    }
  }

   a {
     color: #000;

     &:hover {
        text-decoration: none;
     }
   }
}

.title {
  font-weight: bold;
}